<!-- Footer links for informational pages. -->
<footer class="navbar navbar-expand-sm bg-dark footer-navbar">
    <div class="container-fluid">
        <div class="ms-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
